*,
*::after,
*::before {
	box-sizing: border-box;
  /* outline: solid 1px; */
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 1.5;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}