<footer class="footer">
  <div class="container footer-container-sm">
    <div class="d-flex justify-between">
      <div class="left">
        <nav class="footer_nav mb-9">
          <ul class="d-flex footer_ul">
            <li><a href="#">首頁</a></li>
            <li><a href="#">系列鏡框</a></li>
            <li><a href="#">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="#">常見問題</a></li>
          </ul>
        </nav>
        <div class="phone mb-2">
          <a href="#">
            <span class="material-symbols-outlined icon-phone">call</span>0800-000-000
          </a>
        </div>
        <div class="mail">
          <a href="#">
            <span class="material-symbols-outlined icon-mail">mail</span>glasses@business.com
          </a>
        </div>
      </div>
      <div class="right">
        <ul class="d-flex socical">
          <li class="socical-item">
            <a href="#"><img src="/assets/images/ic-social-fb.png" alt="FB"></a>
          </li>
          <li class="socical-item">
            <a href=""><img src="/assets/images/ic_social_ig.png" alt="IG"></a>
          </li>
          <li class="socical-item">
            <a href=""><img src="/assets/images/ic_social_line.png" alt="Line"></a>
          </li>
        </ul>
      </div>
    </div>

    <hr class="hr">

    <div class="copy_block d-flex justify-between pb-8">
      <div class="left">
        <span>Copyright © 2020 Glasses.All rights reserved.</span>
      </div>
      <div class="right d-flex">
        <span>隱私權政策</span>
        <span>服務條款</span>
      </div>
    </div>
  </div>
</footer>