<header class="header fs-5">
  <div class="container d-flex justify-between container-sm">
    <div class="logo">
      <a href="#"><img src="/assets/images/logo-white.png" alt="sectioin2-4"></a>
    </div>
    <ul class="d-flex items-center">
      <li class="nav-item text-center"><a href="index.html">系列鏡框</a></li>
      <li class="nav-item text-center"><a href="#">門市據點</a></li>
      <li class="nav-item text-center"><a href="#">部落格</a></li>
      <li class="nav-item text-center"><a href="#">常見問題</a></li>
    </ul>
  </div>
</header>