.header {
  background: $primary;
  color: #FFFFFF;
}

.header_ul {
  gap: 64px;
}

.logo {
  width: 80px;
  margin: 16px 0;
}

@media (max-width:767px) {
  .header {
    font-size: 16px;
  }
  // .container {
  //   padding: 0 15px;
  // }

  // 這邊同一個div 雖然class名稱不同 但是都吃padding所以會覆蓋掉767的padding
  .container-sm {
    max-width: 1320px;
    flex-direction: column;
  }

  .header-sm {
    padding: 0;
  }

  .logo {
    margin: 12px 16px;
  }

  .header_ul {
    flex-wrap: wrap;
    gap:0;
  }

  .nav-item {
    border: 1px solid;
    width: 50%;
    font-size: 16px;
    padding: 12px 0;
  }
}
