.fs-4 {
  font-size: 16px;
}

.fs-5 {
  font-size: 20px;
}

.fs-6 {
  font-size: 24px;
}

.fs-12 {
  font-size: 48px;
}

.d-flex {
  display: flex;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-start {
  align-items: flex-start;
} 

.items-end {
  align-items: flex-end;
}

.items-center	{
  align-items: center;
}

.text-left {
  text-align-last: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.mb-2 {
  margin-bottom: 8px;
}

.pb-8 {
  padding-bottom: 32px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mb-9 {
  margin-bottom: 36px;
}

.btn {
  padding: 6px 12px;
  border: none;
  cursor: pointer;
}

.text-bold {
  font-weight: bold;
};
